@define-color primary {{color2 | saturate(0.8) | lighten(0.6)}};
@define-color secondary-container {{color5 | saturate(0.8) | lighten(0.5)}};
@define-color accent {{color2 | saturate(0.8) | lighten(0.6)}};
@define-color on-primary #000000;
@define-color on-secondary #000000;
@define-color on-surface {{foreground | lighten(0.7)}};
@define-color on-primary-fixed rgba(0, 0, 0, 0.9);
@define-color error {{color1}};
@define-color background #000000;
